/* from http://www.456bereastreet.com/lab/csstabs/nested/# */




div#navigation {
  float: left;
  width: 200px;
  font-size: 80%;
}


div#content {
  position: fixed;
  left: 220px;
  right: 10px;
}

div#navigation ul {
        
  margin-top: 0;
  border-top: 0;
  padding-top: 0;

        font-family:Tahoma,"Trebuchet MS", sans-serif;

        color:#000;
}
ul.menu {
 margin-left: -2em;
 
}
ul.menu li {
 list-style: none;


}
ul.submenu {
}
ul.submenu li {
  font-size: 90%;
  margin-left: -1em;

}
ul.submenu li+li {


}
div#navigation a:link,
div#navigation a:visited,
div#navigation a:hover {
}
div#navigation ul.menu a:link,
div#navigation ul.menu a:visited,
div#navigation ul.menu a:hover {
        font-weight:bold;
        text-transform:uppercase;
}
div#navigation ul.menu a:hover {
        background-color:#24568E;
}
div#navigation ul.menu li.active a:link,
div#navigation ul.menu li.active a:visited,
div#navigation ul.menu li.active a:hover {
        font-weight: bold;
        border-bottom-color:#24568E;
}
div#navigation ul.submenu a:link,
div#navigation ul.submenu a:visited,
div#navigation ul.submenu a:hover {
        font-weight:normal;
        border:0;
}
div#navigation ul.submenu a:hover {
        text-decoration:underline;
}
